.btn-success{
    margin-left:0.4rem;
}
.btn{
    line-height: 1.2;
    font-size: 0.9rem;
    margin-right: 0.6rem;
    margin-left: 50px;
    margin-bottom: 15px;
    margin-top: 15px;
}
table {
  width: -webkit-fill-available;
  
  }
  
  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: #45385c;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #45385c;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    height: 104px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }
  table.mat-table {
    background: #24112e;
  }
  .mat-paginator {
    background: #24112e;
  }
  .table-responsive{
    border-radius: 25px;
    margin-right: 200px;
    margin-left: 200px;
}

.mat-row {
  height: auto;
}

.mat-cell {
  padding: 0px 300px 0px 0;
}
.dialog-header-wrapper {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
::ng-deep .close-icon {
  cursor: pointer;
}
::ng-deep .mat-dialog-container{
  background: #24112e;
}
.btn-success {
  background-color: #54216e;
  border-color: #54216e;
  box-shadow: #722b96;
}
.btn.btn-success:focus{
  box-shadow: 0 0 0 0.25rem #6c3788;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #3a2943 inset !important;
    -webkit-text-fill-color: white !important;
}
::ng-deep .mat-form-field{
  width: 100%;
}