input::-ms-reveal { 
    display: none;
}
input::ng-deep {
    color: white;
  }
.btn-success{
    margin-left: 10px;
    background-color: #925aad;
    border-color: #925aad;
    box-shadow: #722b96;
    width: -webkit-fill-available;
}
.btn.btn-success:focus{
    box-shadow: 0 0 0 0.25rem #6c3788;
  }
  .mat-form-field{
    width: 400px;
    margin-left: 15px;
  }