<!DOCTYPE html>
<h1 style="font-size:200%; text-align: center; margin-top: 5vh; color: white;">Welcome to Ikon Soft Employee Manager!</h1>
<div class="auth-wrapper">
	<div class="login-wrapper" *ngIf="isLogin">
		<app-login-form ></app-login-form>
		<a class="loginlink" (click)="isLogin=false">Don't have an account?</a>
	</div>
	<div class="signup-wrapper" *ngIf="!isLogin">
		<app-signup-form></app-signup-form>
		<a class="signuplink"(click)="isLogin=true">Already have an account?</a>
	</div>
</div>