.dialog-header-wrapper {
    display: flex;
    justify-content: space-between
}

mat-form-field {
    width: 100%;
}

.close-icon {
    cursor: pointer;
}

.rares {
    display: flex;
    justify-content: space-evenly;
}

.fixed-height {
    height: 40vh;
    overflow: auto;
}
::ng-deep .mat-dialog-container{
    background: #24112e;
  }
.mat-header-cell{
    background: #24112eaf;
}
.mat-row {
  background: #24112eaf;
}
  .btn-success {
    background-color: #54216e;
    border-color: #54216e;
    box-shadow: #722b96;
  }
  .btn.btn-success:focus{
    box-shadow: 0 0 0 0.25rem #6c3788;
  }
  .btn-danger{
    background-color: #720035;
    border-color: black;
  }
  .btn-warning {
    background-color: #925aad;
    border-color: #925aad;
  }
  .btn.btn-warning:focus{
    box-shadow: 0 0 0 0.25rem #663e7a;
  }
  .mat-tab-group {
    margin-top: 5px;
  }